.hero {
    height: 100vh;
    background: #a9cdf5;
}
.container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.text {
    background: #efe9e9;
}
.photo {
    width: 300px;
    height: 400px;
    background: #f5cece;
}